<html>
	<head>
		<title>Codes</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="./assets/styles/main.css"/>
		<noscript><link rel="stylesheet" href="./assets/styles/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

								<header id="header" class="alt">
						<h1><a href="#">CODES</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href=".\index.ejs">Home</a></li>
                                                                <li><a href=".\cadastro.ejs">Cadastro</a></li>
                                                                <li><a href=".\Forum.ejs">Forum</a></li>
								<li><a href="#">perfil</a></li>

							
							</ul>
							<a href="#" class="close">Sair</a>
						</div>
					</nav>
