<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<%- partial('../../layouts/cabecalio.ejs') %>
    <!-- Logo -->
						<section id="banner">
						<div class="inner">
							<h2>CODES</h2>
							<p>Caro usuario o forum e uma feramenta poderosa, e deve-se usar com cautela, e o meio mais rapido de se comunicar com os outros usuarios problemas e duvidas e com os proprios desenvolvedores, mas saiba que estamos nas sombras observando.</p>
						</div>
					</section>

				<!-- Wrapper -->
				<form>
					<section id="wrapper">
					<div class="field">
						<label for="estitulo">Titulo</label>
						<input type="text" name="titulo" id="estitulo" />
					</div>
					<div class="field">
						<label for="esresumo">Resumo</label>
						<input type="text" name="resumo" id="esresumo" />
					</div>
					

					<div class="field">
					Texto
					<textarea placeholder="aqui se escreve o testo"></textarea>
					</div>
					</section>

								<ul class="actions">
									<li><input type="submit" value="Enviar" /></li>
								</ul>
							</form>
				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							
							<ul class="copyright">
								<li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li> Developed by Renan Lamonato && Bruno Pablo</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="../../../assets/js/jquery.min.js"></script>
			<script src="../../../assets/js/jquery.scrollex.min.js"></script>
			<script src="../../../assets/js/browser.min.js"></script>
			<script src="../../../assets/js/breakpoints.min.js"></script>
			<script src="../../../assets/js/util.js"></script>
			<script src="../../../assets/js/main.js"></script>

	</body>
</html>
