<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
			<%- partial('../../layouts/cabecalio.ejs') %>
				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Forum</h2>
								<p>Encontre aqui pessoas que pensanm igual voce e diferente, areas para conversar sobre possiveis bugs ou erros, o canal mais facil para se comunicar com a equipe da codes.</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">
<% for (i = 0; i <aqui vem o dado do numero de topicos do forum; i++){ %>
									<section>
                                                                            <h2 class="major">Topico1</h2>
                                                                            <div class="row">
                                                                                <p> aqqui vai a paerte escrita pelo usuario</p>
                                                                            </div>
									    </div>
									    <h3> qui vai o nome do respodedor</h3>
									    <br>
									    <p> aqui vai o comentario do respondedor ao forum </>
									    </div>
									</section>

								</div>
							</div>
							</button> acresentar comentario </button>
							<input type"text">
							    <textarea>
        						    </textarea>
							    	<% } %>

					</section>

				<!-- Footer -->
					<!-- Footer -->
					<section id="footer">
						<div class="inner">
						
							<ul class="copyright">
								<li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li> Developed by Renan Lamonato && Bruno Pablo</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="../../../assets/js/jquery.min.js"></script>
			<script src="../../../assets/js/jquery.scrollex.min.js"></script>
			<script src="../../../assets/js/browser.min.js"></script>
			<script src="../../../assets/js/breakpoints.min.js"></script>
			<script src="../../../assets/js/util.js"></script>
			<script src="../../../assets/js/main.js"></script>

	</body>
</html>
