<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
		<?php $this->load->view('cabecalio')?>
				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Forum</h2>
								<p>Encontre aqui pessoas que pensanm igual voce e diferente, areas para conversar sobre possiveis bugs ou erros, o canal mais facil para se comunicar com a equipe da codes.</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									<section>
                                                                            <h3 class="major">Topico1</h3>
                                                                            <div class="row">
                                                                                
                                                                            </div>
									</section>

									<section>
										<h3 class="major">Topico2</h3>
										<div class="row">
                                                                                </div>	
									</section>

									<section>
										<h3 class="major">Topico3</h3>
                                                                                <div>
										
										</div>
									</section>

									<section>
										<h3 class="major">Topico4</h3>
                                                                                <div>
                                                                                    
                                                                                </div>
									</section>

									<section>
										<h3 class="major">Topico5</h3>
										
									</section>

									<section>
<h3 class="major">Topico6</h3>
                                                                                <div>
                                                                                    
                                                                                </div>
                                                                        </section>

								</div>
							</div>

					</section>

				<!-- Footer -->
					<!-- Footer -->
					<section id="footer">
						<div class="inner">
						
							<ul class="copyright">
								<li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li> Developed by Renan Lamonato && Bruno Pablo</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="as/js/jquery.min.js"></script>
			<script src="as/js/jquery.scrollex.min.js"></script>
			<script src="as/js/browser.min.js"></script>
			<script src="as/js/breakpoints.min.js"></script>
			<script src="as/js/util.js"></script>
			<script src="as/js/main.js"></script>

	</body>
</html>