<%- partial('./layouts/cabecalio.ejs') %>
                    <div id="login">
					<form method="post" action="">
								<div class="fields">
									<div class="field">
										<label for="name">Nome</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="senha">Senha</label>
                                                                                <input type="password" name="senha" id="senha"/> 
									</div>
                                                                    <div class="field">
										<label for="senha"> Lembrar Senha?</label>
                                                                                <input type="checkbox" name="chesenha" id="chesenha"/> 
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Logar" /></li>
								</ul>
							</form>
							</section>


				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							
							<ul class="copyright">
								<li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li> Developed by Renan Lamonato && Bruno Pablo</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="../../../assets/js/jquery.min.js"></script>
			<script src="../../../assets/js/jquery.scrollex.min.js"></script>
			<script src="../../../assets/js/browser.min.js"></script>
			<script src="../../../assets/js/breakpoints.min.js"></script>
			<script src="../../../assets/js/util.js"></script>
			<script src="../../../assets/js/main.js"></script>

	</body>
</html>
