<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<%- partial('../../layouts/cabecalio.ejs') %>

						<section id="banner">
						<div class="inner">
							<h2>Perfil</h2>
							<p>Bem vindo < variavel com o nome >.</p>
						</div>
					</section>
				<section>
				<p> aqui vai a varaivel com a descrição personalizada do usuario  </p>
					<a href="perfilEditar.ejs" class="special">Editar</a>
				</section


</div>

		<!-- Scripts -->
			<script src="../../../assets/js/jquery.min.js"></script>
			<script src="../../../assets/js/jquery.scrollex.min.js"></script>
			<script src="../../../assets/js/browser.min.js"></script>
			<script src="../../../assets/js/breakpoints.min.js"></script>
			<script src="../../../assets/js/util.js"></script>
			<script src="../../../assets/js/main.js"></script>

	</body>
</html>

