<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
		<%- partial('./layouts/cabecalio.ejs') %>
    <!-- Logo -->
						<section id="banner">
						<div class="inner">
							<h2>CODES</h2>
							<p>O proposito da Codes e possibilitar o uso de tecnologias computacionais nas escolas para auxiliar os professores e alunos no seus desenvolvimentos academico de forma dinamica e interativa.</p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- 1 -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
                                                                    <a href="#" class="image"><img src="images/teste.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Login</h2>
										<p>Login ou cadastro, necessario para participar de topicos, oferecer oopinioes e ideias de melhorias.</p>
										<a href="#" class="special">Ir</a>
									</div>
								</div>
							</section>

						<!-- 2 -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Forum</h2>
										<p>topicos discuçoes da comunidade, relatorios de erros e noticias em geral a respeito da Codes e Softwares desenvolidos.</p>
										<a href="#" class="special">Ir</a>
									</div>
								</div>
							</section>

						<!-- 3 -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">EducaPolis</h2>
                                                                        <p>Linha principal de Produtos em desenvolvimentos pela codes para a educação, pela educação, com fins de melhorar a educação como um todo, nas areas de historia,geografia,biologia e quimica, feito para alunos e professores alem de qualquer entusiastas na area</p>
									<section class="features">
										<article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">Histoth</h3>
											<p>Software voltado a historia global, separada por linah de tempo e interfaces 3d, para permitir aos usuarios um modelo de visualização para as informaçeos teorias encontradas nos livros.</p>
											<a href="histoth.ejs" class="special">Leia mais</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">GeoPolis</h3>
											<p>Software voltado a geografia contendo um apanhado interativo de geopolitica, cartografia, relevos, hidrografias, clima, Culturas e Informaçoes detalhadas de fauna e flora locais.</p>
											<a href="geopolis.ejs" class="special">Leia Mais</a>
										</article>
										
                                                                        </section>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Contato</h2>
                                                        <p>Para entrar em contato com nossos atendentes para fins comerciais</p>
							<ul class="contact">
								<li class="fa-home">Linha Santa Bárbara, s/n, PR
									UTFPR<br />
									Linha Santa Bárbara<br />
                                                                        Parana, CEP 85601-970
								</li>
								<li class="fa-phone">(00) 00000-0000</li>
								<li class="fa-envelope"><a href="#">codeseducation@gmail.com</a></li>
								<li class="fa-twitter"><a href="#">twitter.com/exemplo</a></li>
								<li class="fa-facebook"><a href="#">facebook.com/exemplo</a></li>
								<li class="fa-instagram"><a href="#">instagram.com/exemplo</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy; Untitled Inc. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li><li> Developed by Renan Lamonato && Bruno Pablo</li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="../../../assets/js/jquery.min.js"></script>
			<script src="../../../assets/js/jquery.scrollex.min.js"></script>
			<script src="../../../assets/js/browser.min.js"></script>
			<script src="../../../assets/js/breakpoints.min.js"></script>
			<script src="../../../assets/js/util.js"></script>
			<script src="../../../assets/js/main.js"></script>

	</body>
</html>
